<div class='hero-contact-wrapper'>
  <span class='c-item'>
    <span class='c-label'>Liên hệ:</span>
    <a href='{{ site.data.contact.zalo.link }}' class='v-zalo'>{{ site.data.contact.zalo.label }}</a>
  </span>
  <span class='c-sep'>|</span>
  <span class='c-item'>
    <a href='{{ site.data.contact.whatsapp.link }}' class='v-whatsapp'>WhatsApp</a>
  </span>
  <span class='c-sep'>|</span> 
  <span class='c-item'>
    <span class='c-label'>Email:</span> 
    <a href='mailto:{{ site.data.contact.email }}' class='v-email'>{{ site.data.contact.email }}</a>
  </span> 
  <span class='c-sep'>|</span> 
  <span class='c-item'>
    <span class='c-label'>Tel:</span> 
    <span class='v-tel'>{{ site.data.contact.tel.display }}</span>
  </span>
</div>